.variant-1 {
  display: inline-flex;
  gap: 4px;
}
.variant-2 {
  display: inline-flex;
  gap: 10px;
  gap: 4px;
}
.variant-3 {
  display: flex;
  margin: 0 5px;
  gap: 4px;
}
.variant-4 {
  display: inline-flex;
  flex-direction: column;
  border-radius: 10px;
  padding-left: 0px;
  border: 1px solid var(--border-accent-color);
  gap: 0px;

  .pinyin {
    text-align: center;
    padding: 5px 10px;
  }

  .glyph {
    font-size: 1.2rem;
    text-align: center;
    border-radius: 0px;
    border: none;
    border-top: 1px solid var(--border-accent-color);
    border-bottom: 1px solid var(--border-accent-color);
  }

  .translate {
    text-align: center;
    padding: 5px 10px;
  }
}

.word {
  font-size: 1rem;
  margin: 4px 0;
}

.pinyin {
  color: var(--fg-primary-color);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2px;
}

.glyph {
  letter-spacing: 2px;
  padding: 1px 4px;
  border-radius: 5px;
  background: var(--bg-tertiary-color);
  border: 1px solid var(--border-accent-color);
  color: var(--fg-primary-color);
  font-family: var(--font-family-cn);
}

.translate {
  color: var(--fg-primary-color);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.2px;
}
