// BG
$bg-primary-color: #1e1f20;
$bg-secondary-color: #121314;
$bg-tertiary-color: #151617;
$bg-header-color: 18, 19, 20;
$bg-disabled-color: #e7e9ed;
$bg-inverted-color: #22263b;
$bg-accent-overlay-color: #441717;
$bg-accent-color: #181717;
$bg-pressed-color: #22263b0d;
$bg-overlay-primary-color: #131010;
$bg-overlay-secondary-color: #ffffff1a;
$bg-action-hover-color: #e18a4c;
// BG STATUS
$bg-success-color: #2c492f;
$bg-error-color: #6d3b46;

// FG
$fg-primary-color: #e4e4e4;
$fg-secondary-color: #e4e4e4cc;
$fg-tertiary-color: #e4e4e499;
$fg-muted-color: #e4e4e466;
$fg-accent-color: #ff8856;
$fg-action-color: #e18a4c;

// Border
$border-primary-color: #353535;
$border-secondary-color: #4747471a;
$border-accent-color: #632732;
$border-disabled-color: #4747471a;
$border-button-secondary-color: #34407933;
