@import './_variables.scss';

// Border
$border-status-colors: (
  border-positive: $border-positive-color,
  border-warning: $border-warning-color,
  border-negative: $border-negative-color,
);

// Tones
$fg-tone-colors: (
  fg-tone-0: $fg-tone-0-color,
  fg-tone-1: $fg-tone-1-color,
  fg-tone-2: $fg-tone-2-color,
  fg-tone-3: $fg-tone-3-color,
  fg-tone-4: $fg-tone-4-color,
);

// Font family for chinese
$font-family-cn: (
  base: $font-family-cn-base,
  brushed: $font-family-cn-brushed,
);
