$border-positive-color: #759f45;
$border-warning-color: #ffd452;
$border-negative-color: #f15d56;

$fg-tone-1-color: #2e37c2;
$fg-tone-2-color: #cea348;
$fg-tone-3-color: #b83878;
$fg-tone-4-color: #61a15b;
