$font-size-small: 14px !default;
$font-size-base: 16px !default;
$font-size-large: 18px !default;

$header-height: 56px !default;

$font-family-ru-base: 'Rubik' !default;

$font-family-cn-base: 'Noto Sans SC';
$font-family-cn-brushed: 'Noto Serif SC';
