$font-size-small: 14px !default;
$font-size-base: 16px !default;
$font-size-large: 18px !default;

$header-height: 56px !default;

//* Dark theme
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//? Background
$color-background-content-dark: #121314;
$color-highlight-dark: #ff8856;

//* Rainy theme
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//? Background
$color-background-content-rainy: #161b22;
$color-highlight-rainy: #6db6ff;
