.content-wrapper {
  @include default-font();
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 1200px;
  min-height: 100%;
  width: 100%;
  background-color: var(--bg-primary-color);
  margin: 0 auto;

  @include mobile {
    padding: 4px;
  }

  .description {
    font-size: 1rem;
    padding: 0 16px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    @include mobile {
      font-size: 0.9rem;
      padding: 0 4px;
    }
  }
}
