button {
  font-family: inherit;
  color: inherit;
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  overflow: visible;
  text-transform: none;
}
