button {
  font-family: inherit;
  color: inherit;
  font-size: 100%;
  margin: 0;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  overflow: visible;
  text-transform: none;
}

h2 {
  margin: 14px 0 8px 0;
}

ul {
  padding: 12px 24px;
}

p {
  padding: 2px 0;
}

#__nuxt {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nuxt-loading-indicator {
  background: linear-gradient(62deg, var(--fg-muted-color) 0%, var(fg-accent-color) 100%) !important;
}

.v-tooltip > .v-overlay__content {
  background: var(--bg-tertiary-color) !important;
  border: 1px solid var(--border-primary-color);
  color: var(--fg-primary-color) !important;
}
