HOST=...
PORT=8080

DATABASE_URL=postgresql://chinisik:chinisik@localhost:5432/chinisik_dev
RESEND_API_KEY=...
JWT_SECRET=...

AI_HUBMIX_API_URL=https://aihubmix.com/v1
AI_HUBMIX_KEY=...

# Outh
FRONTEND_URL=http://localhost:5173

# -> Github
GITHUB_CLIENT_ID=...
GITHUB_CLIENT_SECRET=...
GITHUB_CALLBACK=http://localhost:8080/api/v1/auth/github/callback

# -> Google
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=... 
GOOGLE_CALLBACK=https://api.kvakushnik.ru/api/v1/auth/google/callback
