.content-wrapper {
  @include default-font();
  
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 1200px;
  min-height: 100%;
  width: 100%;
  background-color: var(--bg-primary-color);
  margin: 0 auto;
  overflow: hidden;

  @include mobile {
    padding: 4px;
  }

  .description {
    font-size: 1rem;
    padding: 0 16px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    @include mobile {
      font-size: 0.9rem;
      padding: 0 4px;
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    pointer-events: none;
    z-index: 2;
  }

  &::before {
    right: 100%;
    background: linear-gradient(to left, var(--bg-primary-color), transparent);
  }

  &::after {
    left: 100%;
    background: linear-gradient(to right, var(--bg-primary-color), transparent);
  }
}
