// BG
$bg-primary-color: #eeeeee;
$bg-secondary-color: #dcdfe1;
$bg-tertiary-color: #d2d8dd;
$bg-disabled-color: #e7e9ed;
$bg-inverted-color: #22263b;
$bg-accent-overlay-color: #818bb5;
$bg-accent-color: #d7e0f3;
$bg-pressed-color: #22263b0d;
$bg-overlay-dark-color: #454a6136;
$bg-overlay-light-color: #94a1abdc;
$bg-accent-brand-color: #525e9e;
$bg-action-hover-color: #828dca;

// FG
$fg-primary-color: #22263b;
$fg-secondary-color: #22263bcc;
$fg-tertiary-color: #22263b99;
$fg-muted-color: #22263b66;
$fg-accent-color: #344079;
$fg-accent-brand-color: #525e9e;
$fg-action-color: #40497b;

// Border
$border-primary-color: #22263b54;
$border-secondary-color: #22263b1a;
$border-accent-color: #bbcef8;
$border-disabled-color: #22263b1a;
$border-button-secondary-color: #34407933;
