// BG
$bg-primary-color: #0d1117;
$bg-secondary-color: #161b22;
$bg-tertiary-color: #12161c;
$bg-header-color: 22, 27, 34;
$bg-disabled-color: #181b20;
$bg-inverted-color: #22263b;
$bg-accent-overlay-color: #203d59;
$bg-accent-color: #182840;
$bg-pressed-color: #22263b0d;
$bg-overlay-primary-color: #22263b6e;
$bg-overlay-secondary-color: #ffffff1a;
$bg-action-hover-color: #4ea2d7;
// BG STATUS
$bg-success-color: #344b36;
$bg-error-color: #55343b;

// FG
$fg-primary-color: #e4e4e4;
$fg-secondary-color: #e4e4e4cc;
$fg-tertiary-color: #e4e4e499;
$fg-muted-color: #e4e4e466;
$fg-accent-color: #6db6ff;
$fg-action-color: #4ea2d7;

// Border
$border-primary-color: #22263b;
$border-secondary-color: #22263b1a;
$border-accent-color: #2c4a63;
$border-disabled-color: #22263b1a;
$border-button-secondary-color: #34407933;
