// BG
$bg-primary-color: #f9f9f9;
$bg-secondary-color: #f1f1f1;
$bg-tertiary-color: #e4e4e4;
$bg-header-color: 241, 241, 241;
$bg-disabled-color: #f1f1f1;
$bg-inverted-color: #29242a;
$bg-accent-overlay-color: #4b82664d;
$bg-accent-color: #e4f0ea;
$bg-pressed-color: #29242a0d;
$bg-overlay-primary-color: #706b6e36;
$bg-overlay-secondary-color: #a59fa0dc;
$bg-action-hover-color: #5fa481;

// BG STATUS
$bg-success-color: #d4e6d6;
$bg-error-color: #f3d9e0;
$bg-warning-color: #fff8c5; // Added
$bg-info-color: #ddf4ff;    // Added

// FG
$fg-primary-color: #29242a;
$fg-secondary-color: #6e6e6e;
$fg-tertiary-color: #a2a2a2;
$fg-muted-color: #29242a66;
$fg-accent-color: #4b8266;
$fg-action-color: #4b8266;

// FG STATUS
$fg-success-color: #1a7f37;
$fg-error-color: #cf222e;
$fg-warning-color: #9a6700;
$fg-info-color: #0969da;

// Border
$border-primary-color: #dcdcdc;
$border-secondary-color: #e4e4e4;
$border-accent-color: #5fa481;
$border-disabled-color: #e4e4e4;
$border-button-secondary-color: #cce0d8;

// BORDER STATUS
$border-success-color: #1a7f37;
$border-error-color: #cf222e;
$border-warning-color: #9a6700;
$border-info-color: #0969da;
